a
{
color:yellow;
text-decoration:none;
padding:20px;
font-size:30px;

}
nav
{
	background-color:black;
	padding:40px;
	text-align:center;
}
a:hover
{
	color:green;
	background-color:orange;
	border-radius:20px;
}
div
{
	border:8px solid  red;
	width:50%;
	text-align:justify;
	margin-left:300px;
	margin-top:20px;
	
   
}
p
{
	padding:20px;
	font-weight:bold;
}